@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Jost:wght@300;400;600&display=swap');

.container-sm{
    margin: 30%;
}

.titleForm{
    font-family: 'Gabriela';
    color: white;
    font-size: 150%;
}